
/* BRAND GUIDE: https://docs.google.com/document/d/124Wli0Rxp4GhOrrOijzznbnOfNC9kP8wOVZnPZsR2DE/edit?tab=t.0#heading=h.rz5f9gsvqqrw */

/* Turn on the border-box model */
* {
  box-sizing: border-box;
}

.gulp-webpage{
  font-family: Poppins,  sans-serif;
  font-weight: 700
}

/* Navbar styling */
nav{
  background-color: #131D26;
  color: #F2F2F2;
  
  padding: 1%;
  margin: 1%;
}

ul{
  list-style-type: none;
  display: flex;
}

ul li{
  margin-right: 50px;
}

/* About section styling */
.about-section{
  font-family: Lato, sans-serif;
  font-weight: 400;
  
  background-color: #082B59;
  color: #F2F2F2;
  
  padding: 4%;
  margin: 1%;

  max-width: 45%;
}

.mapLink{
  color: #D98555;
}

.mapLink:hover{
  color: red;
}

.aLink:hover{
  color: red;
}

/* contact button styling */
.contact-button{
  border: none;
  border-radius: 10px;
  color: white;
  padding: 14px 32px;
  display: inline-block;
  font-size: 16px;
  margin: 2% 3%;
  
  background-color: #59331D;
}

.contact-button:hover{
  background-color: #D98555;
  text-decoration: overline dashed;
}

/* CSS for the image that depicts water being poured into coffee pot */

.flex-container{
  display: flex;
  flex-wrap: wrap;

  border: 2px solid red;
}

/* @media (min-width: 1023px){
  .about-section{
    max-width: 60%;
  }
} */


/*@media (max-width: 800px){
  .horizontal-coffee-img{
    display: none;
    margin: 5px;
  }
}
@media (max-width: 451px){
  .horizontal-coffee-img{
    display: block;
    margin: 5px;
  }
}*/








/* Footer Styling */
footer{
  border-top: 1px solid #131D26;
  padding: 50px;
  text-align: center;
}